<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GDP by country</title>
  <style type="text/css">
    .gdp-map {
      width: 1024px;
      height: 1000px;
    }
  </style>
</head>
  <body>
    <h1>GDP by country</h1>

    <!-- Map goes here -->
    <div class="gdp-map"></div>

    <!-- Table goes here -->
    <div class="gdp-table"></div>
  </body>

  <!-- Templates -->
  <script type="text/template" id="gdp-table-template">
    <table>
      <tr>
        <th>Country name</th>
        <th>GDP</th>
      </tr>
      <% _.each(collection, function(model) { %>
        <tr>
          <td><%= model.countryName %></td>
          <td><%= model.gdp %></td>
        </tr>
      <% }); %>
    </table>
  </script>

  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="bower_components/gmaps/gmaps.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="js/gdp/models/country.js"></script>
  <script src="js/gdp/collections/countries.js"></script>
  <script src="js/gdp/views/map.js"></script>
  <script src="js/gdp/views/table.js"></script>
  <script>
    jQuery(function() {
      var countryData = [
        { "countryName": "Australia", "gdp": "1,560,597", "lat": "-25.274398", "lng": "133.775136" },
        { "countryName": "Netherlands", "gdp": "800,173", "lat": "52.132633", "lng": "5.291265999999999" }
      ];

      var countryList = new tg.gdp.CountryList(countryData);

      var mapView = new tg.gdp.MapView({
        collection: countryList,
        el: document.querySelector(".gdp-map")
      });

      mapView.render();

      var tableView = new tg.gdp.TableView({
        collection: countryList,
        el: document.querySelector(".gdp-table")
      });

      tableView.render();
    });
  </script>
</html>
